@charset "UTF-8";
/* CSS Document */

body,td,th {
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
	color: #333;
}

.tekstbokstekst {
	text-align:justify;
	width: 330px;
	height:auto;
	padding: 3px;
	position: absolute;
	top: 86px;
	left: 625px;
	background-color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
}
.tekstbokstekst2 {
	text-align:justify;
	width: 440px;
	height:auto;
	padding: 3px;
	position: absolute;
	top: 138px;
	left: 625px;
	background-color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
}
.tekstbokstekst3 {
	text-align:justify;
	width: 298px;
	height:auto;
	padding: 3px;
	position: absolute;
	top: 154px;
	left: 625px;
	background-color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
}
.bildeboks {
	text-align:justify;
	width: 500px;
	height:506px;
	padding: 0px;
	position: absolute;
	top: 90px;
	left: 100px;
	background-color: #fff;
	background-image:url(../img/1.jpg);
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
}
.bildeboks2 {
	text-align:justify;
	width: 500px;
	height:506px;
	padding: 0px;
	position: absolute;
	top: 90px;
	left: 100px;
	background-color: #fff;
	background-image:url(../img/2.jpg);
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
}
.bildeboks3 {
	text-align:justify;
	width: 500px;
	height:506px;
	padding: 0px;
	position: absolute;
	top: 90px;
	left: 100px;
	background-color: #fff;
	background-image:url(../img/3.jpg);
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
}
.tekstboksnavn {
	text-align:right;
	width: auto;
	height: 45px;
	position: absolute;
	top: 294px;
	left: 619px;
	background-color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-weight:lighter;
	text-align: center;
	font-size: 38px;
	padding: 6px;
}
.tekstboksadr {
	text-align:right;
	width: 298px;
	height:auto;
	padding: 4px;
	position: absolute;
	top: 570px;
	left: 644px;
	background-color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
}
.meny_aktiv {
	color: #066;
	text-decoration: none;
	letter-spacing: 2px;
	background-color:#6495ed;
	padding-right: 1px;
	padding-left: 3px;
}

a {
	letter-spacing: 2px;
	text-decoration: none;

}
a:link {
	color: #333;
	text-decoration: none;
	letter-spacing: 2px;
	text-decoration: none;
	padding-right: 1px;
	padding-left: 3px;
}
a:visited {
	color: #333;
	text-decoration: none;
	letter-spacing: 2px;
	padding-right: 1px;
	padding-left: 3px;
}
a:hover {
	color: #066;
	text-decoration: none;
	letter-spacing: 2px;
	background-color:#6495ed;
	padding-right: 1px;
	padding-left: 3px;
}
a:active {
	color: #333;
	text-decoration: none;
	letter-spacing: 2px;
	padding-right: 1px;
	padding-left: 3px;
}
.hvit  {
	color: #fff;
}