@charset "UTF-8";
/* CSS Document */

body,td,th {
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
	color: #333;
}
/*menybokser*/

#header {
	height: 25px;
	margin-top: 0px;
	margin-left: 80px;
	position: fixed;
	z-index: 4;
	width: 260px;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	border: 0px; 
}
#lang {
	height: 35px;
	background-color:#FFF;
	top: 0px;
	right:0px;
	position: fixed;
	z-index: 4;
	width: 20px;
	padding-top: 6px;
	padding-right: 6px;
	border: 0px; 
}


#meny {
	text-align:right;
	width: 400px;
	height:auto;
	padding: 4px;
	position: fixed;
	top: 22px;
	left: 433px;
	background-color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
	border: 0px; 
}

#bildeboks {
	text-align:justify;
	width: 500px;
	height:500px;
	padding: 0px;
	position: absolute;
	top: 90px;
	left: 0px;
	background-color: #fff;
	background-image:url(../img/bg3.jpg);
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
	border: 0px; 
}
#bildeboks2 {
	text-align:justify;
	width: 367px;
	height:500px;
	padding: 0px;
	position: absolute;
	top: 90px;
	left: 170px;
	background-color: #fff;
	background-image:url(../img/logo.jpg);
	background-repeat: no-repeat;
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
	border: 0px; 
}
#tekstbokstekst {
	text-align:justify;
	width: 330px;
	height:auto;
	padding: 3px;
	position: absolute;
	top: 86px;
	left: 500px;
	background-color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
	border: 0px; 
}
#utstillinger {
	text-align: left;
	width: 400px;
	height: auto;
	padding: 3;
	position: absolute;
	top: 520px;
	left: 870px;
	background-color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
	border: 0px; 
}


#tekstbokstekst_it {
	text-align:justify;
	width: 330px;
	height:auto;
	padding: 3px;
	position: absolute;
	top: 86px;
	left: 500px;
	background-color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
	border: 0px; 
}
#kontakt {
	text-align:justify;
	width: 310px;
	height:auto;
	padding: 3px;
	position: absolute;
	top: 241px;
	left: 682px;
	background-color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
	font-size: 12px;
	border: 0px; 
}

#ROMI {
	position: absolute;
	top: 115px;
	left: 100px;
	z-index: 1;
	width: 4200px;
	padding-right: 100px;
	padding-bottom: 10px;
	border: 0px; 	
}
#ROMII {
	position: absolute;
 	top: 115px;
	left: 100px;
	z-index: 1;
	width: 9130px;
	padding-right: 100px;
	padding-bottom: 10px;	
	border: 0px; 
}
#ROMIII {
	position: absolute;
	top: 115px;
	left: 100px;
	z-index: 1;
	width: 12560px;
	padding-right: 100px;
	padding-bottom: 10px;	
	border: 0px; 
}
#ROMIV {
	position: absolute;
	top: 115px;
	left: 100px;
	z-index: 1;
	width: 7100px;
	padding-right: 100px;
	padding-bottom: 10px;	
	border: 0px; 
}

div.float {
  float: left;
  }
  
div.float p {
	text-align: left;
	font-size: 90%;
	 }
   

img.padd {
padding: 0px 250px 0px 0px ;
}

.bilde {
		
}


.header_aktiv {
	font-size: 18px;
	color: #066;
	text-decoration: none;
	letter-spacing: 3px;
	background-color:#6495ed;
	padding-left: 3px;
}
.meny_aktiv {
	color: #066;
	text-decoration: none;
	letter-spacing: 2px;
	background-color:#6495ed;
	padding-right: 1px;
	padding-left: 3px;
}
.solgt {
	color: #F00;
	text-decoration: none;
	padding-left: 3px;
}
.vag {
	color: #999;
}

a {
	letter-spacing: 2px;
	text-decoration: none;

}
a.vag {
	color: #999;
}
a:link {
	color: #333;
	text-decoration: none;
	letter-spacing: 2px;
	text-decoration: none;
	padding-right: 1px;
	padding-left: 3px;
}
a:visited {
	color: #333;
	text-decoration: none;
	letter-spacing: 2px;
	padding-right: 1px;
	padding-left: 3px;
}
a.vag:visited {
	color: #999;
	text-decoration: none;
	letter-spacing: 2px;
	padding-right: 1px;
	padding-left: 3px;
}
a:hover {
	color: #066;
	text-decoration: none;
	letter-spacing: 2px;
	background-color:#6495ed;
	padding-right: 1px;
	padding-left: 3px;
}
a:active {
	color: #333;
	text-decoration: none;
	letter-spacing: 2px;
	padding-right: 1px;
	padding-left: 3px;
}
a.h1:link {
	color: #333;
	font-size: 18px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.h1:visited {
	color: #333;
	font-size: 18px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.h1:hover {
	color: #066;
	font-size: 18px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.h1:active {
	color: #333;
	font-size: 18px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}

a.no:link {
	color: #999;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.no:visited {
	color: #999;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.no:hover {
	color: #ef2b2d;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.no:active {
	color: #999;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.it:link {
	color: #999;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.it:visited {
	color: #999;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.it:hover {
	color: #009246;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.it:active {
	color: #999;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.en:link {
	color: #999;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.en:visited {
	color: #999;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.en:hover {
	color: #00247d;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}
a.en:active {
	color: #999;
	font-size: 10px;
	text-decoration: none;
	padding-right: 1px;
	letter-spacing: 3px;
}

.hvit  {
	color: #fff;
}
