:root {
  --primary: #4f39fa;
  --accent: #f8345b;
  --nav-background: white;

  --link-underline-thickness: 0.4rem;
  --link-underline-offset: 0.2rem;
  --link-skip-ink: auto;

  --img-box-shaddow: rgba(0, 0, 0, 0.1) 0 1px 2px 0,
    rgba(150, 150, 150, 0.05) 0 8px 24px;
  --img-border-radius: 0.2rem;
}
