---
interface Props {
  heading: string;
  exhibitions: ExhibitionVm[]
}
interface ExhibitionVm {
  name: string
  year: string
  place: string
  type: string
}
const { heading, exhibitions } = Astro.props
---
<h2>{heading}</h2>

<ul>
  {exhibitions.map(({name}) => <li>{name}</li>)}
</ul>
