---
import { getLangFromUrl,useTranslation } from './i18n/utils'
const language = getLangFromUrl(Astro.url);
const t = useTranslation(language);
const email = t('contact.email');
const instagram = t('contact.instagram');

---

<p class="contact">
  { email }
  <a class="contact" href="mailto:oystein@blegenhoel.no">
    oystein@blegenhoel.no</a
  >
  <br />
  { instagram }
  <a
    class="contact"
    href="https://www.instagram.com/oysteinblegenhoel"
    rel="noopener noreferrer nofollow"
    target="_blank">
    @oysteinblegenhoel
  </a>
</p>

<style>
  p.contact {
    margin-top: 10rem;
  }

  a.contact {
    text-decoration-skip-ink: auto;
    color: #000;
    text-underline-offset: 2px;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 3px;
    margin: 0;
  }
</style>
