---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<h1 class="logo text-gradient">Øystein Blegen Hoel</h1>
			
			<input type="checkbox" id="nav-toggle" name="nav-toggle" class="nav-toggle">
			<nav>
				<ul>
					<li><a href="/works">Works</a></li> 
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
			<label for="nav-toggle" class="nav-toggle-label">
				<span>X</span>
			</label>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>
<style>
	:root {
		--nav-background: whitesmoke;
		--font-size-base: 10px;
		--color-text: hsl(12, 5%, 4%);
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);

	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
	}

	body {
		margin: 0;
	}

	body, body * {
		font-size: 1.6rem;
	}


	main {
      height: 200vh;
      background-image: url(//unsplash.it/1000/1000);
      background-color: white;
      background-blend-mode: multiply;
      background-size: cover;
      display: grid;
      place-items: center;
	}

	header {
		background-color: var(--nav-background);
		text-align: center;
		position: fixed;
		width: 100%;
		z-index: 999;
	}

	.logo {
		font-size: 3.6rem;
	}

	nav {
		background-color: var(--nav-background);
		position: absolute;
		text-align: left;
		top: 100%;	
		left: 0;
		width: 100%;
		transform: scale(1, 0);
		transform-origin: top;
		transition: transform 300ms ease;
	}

	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	nav li {
		margin-bottom: 1em;
		margin-left: 1em;
	}

	nav a {
		color: hotpink;
		text-decoration: none;
		font-size: 2rem;
		opacity: 0;
		transition: opacity 150ms ease-in-out;
	}

	nav a:hover {
		color: #da62c4;

	}

	.nav-toggle-label {
		position: absolute;
		top: 0;
		left: 0;
		margin-left: 1em;
		height: 100%;
		display: flex;
		align-items: center;
	}


	.nav-toggle {
  		position: absolute !important;
  		top: -9999px !important;
  		left: -9999px !important;
	}


	.nav-toggle:checked ~ nav {
		transform: scale(1, 1);
	}

	.nav-toggle:checked ~ nav a {
		opacity: 1;
		transition: opacity 200ms ease-in-out 200ms;
	}

	@media screen and (min-width: 800px) {
		.nav-toggle-label {
			display: none;
		}

		header {
			display: grid;
			grid-template-columns: 1fr auto minmax(470px, 3fr) 1fr;
		}

		.logo {
			grid-column: 2 / 3;
		}

		nav {
			all: unset;
			grid-column: 3 / 4;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		nav ul {
			display: flex;
		}

		nav li {
			margin-bottom: 0;
			margin-left: 3em;
		}

		nav a {
			opacity: 1;
			position: relative;
		}

		nav a::before {
			content: '';
			display: block;
			height: 5px;
			background: black;
			position: absolute;
			top: -1rem;
			left: 0;
			right: 0;
			border-radius: 5px;
			transform: scale(0, 1);
			transition: ease-in-out 250ms;
		}

		nav a:hover::before {
			transform: scale(1,1);
		}
	}



	  
	.text-gradient {
		font-weight: 600;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	

</style>

<style is:global>
	h1 {
		font-size: var(--font-size-xl);
	}

	h2 {
		font-size: var(--font-size-lg);
	}

	*, *::before, *::after {
		box-sizing: border-box;
	}
</style>
