---
import Layout from '../layouts/Layout.astro'
import Artwork from '../works/artwork.astro'
import { dataClient } from '../cms-integration/data-client'
import type { SanityImageSource } from '@sanity/image-url/lib/types/types'
import { urlForImage } from '../cms-integration/image-util'


interface I18nString {
  no: string
  en: undefined
}

interface ArtworkDto {
  dimmenstions: string
  material: { no: string }
  photo: { alt: I18nString; image: SanityImageSource }
  title: I18nString
  year: '2022'
}

function mapArtworkDtoToVm(dto: ArtworkDto) {
  return {
     title: dto.title.no,
     alt: dto.photo.alt.no,
     url: urlForImage(dto.photo.image)
  }
}

export async function getArtworks(): Promise<ArtworkDto[]> {
  const query = `*[_type == "artwork"]`
  const artworks = await dataClient.fetch(query)
  return artworks
}
const language = 'no'
const artworkDtos = await getArtworks()
const artworks = artworkDtos.map(mapArtworkDtoToVm)
---

<Layout title="Arbeider - Øystein Blegen Hoel">
  <section class="wrapper">
    {
      artworks.map(({ title, url, alt }) => (
        <Artwork
          title={title}
          url={url}
          alt={alt}
        />
      ))
    }
  </section>
</Layout>
<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    max-width: 100vw;
  }

  @media screen and (min-width: 800px) {
    .wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      width: 120rem;
      justify-content: center;
    }
  }
</style>
