---
import Layout from '../layouts/Layout.astro'
import Artwork from '../works/artwork.astro'
import { dataClient } from '../cms-integration/data-client'

export async function getArtworks() {
  const query = `*[_type == "artwork"]`
  const artworks = await dataClient.fetch(query)
  console.log(artworks)
  return artworks
}
const language = 'no'
let artworks = await getArtworks()
---

<Layout title="Arbeider - Øystein Blegen Hoel">
  <section class="wrapper">
    {
      artworks.map(({ title, photo }) => (
        <Artwork title={title[language]} photo={photo} />
      ))
    }
  </section>
</Layout>
<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    max-width: 100vw;
  }

  @media screen and (min-width: 800px) {
    .wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      width: 120rem;
      justify-content: center;
    }
  }
</style>
