---
import '../styles/global.scss'

export interface Props {
  title: string
  description: string
  keywords: string
}

const  toggleIcon = () => {
  const input = document.getElementById('nav-toggle') as HTMLInputElement
  const label = document.getElementById('nav-toggle-label')
  if (input && !input.checked) {
    label.classList.remove('closed')
    document.body.classList.add('no-scroll')
  } else {
    label.classList.add('closed')
    document.body.classList.remove('no-scroll')
  }
}

const { title, keywords, description } = Astro.props
const currentPath = new URL(Astro.request.url).pathname

const active = (mustInclude: string): string => {
  return currentPath.includes(mustInclude) ? 'active' : ''
}
---

<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+Pro:ital@0;1&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="logo text-gradient">
          <a href="/">Øystein Blegen Hoel</a>
        </h1>
        <input
          type="checkbox"
          id="nav-toggle"
          name="nav-toggle"
          class="nav-toggle"
        />
        <label
          for="nav-toggle"
          id="nav-toggle-label"
          class="nav-toggle-label closed"
          onclick="toggleIcon()">
          <span></span>
          <div class="screen-reader-only">Meny</div>
        </label>
        <nav>
          <ul>
            <li>
              <a href="/biography" class={active('biography')}>Bio</a>
            </li>
            <li>
              <a href="/about" class={active('about')}>Om</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <main class="no-scroll">
      <slot />
    </main>
    <style>
      .wrapper {
        position: fixed;
        top: 0;
        background-color: var(--nav-background);
        width: 100vw;
      }
      header {
        background-color: var(--nav-background);
        font-family: var(--sans-font);
        position: fixed;
        width: 100%;
        z-index: 999;
        letter-spacing: 0.1rem;
        padding: 1rem 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      header h1 {
        margin: 0;
        flex-shrink: 1;
        overflow: hidden;
      }

      .logo a {
        color: #3d37e4;
        font-size: 2.4rem;
        margin: 2rem;
        font-weight: 500;
        text-decoration: none;
        white-space: nowrap;
      }

      .screen-reader-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
      }

      nav {
        background-color: var(--nav-background);
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        width: 100%;
        min-height: 100vh;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 200ms ease;
        box-shadow: 0 2px 0 0 rgba(6, 22, 41, 0.04);
      }

      nav ul {
        margin: 0 0 0;
        padding: 4rem 0 8rem;
        list-style: none;
        background-color: var(--nav-background);
        border-bottom: 2px solid #918dff;
      }

      nav li {
        display: flex;
        margin-bottom: 0.4em;
      }

      nav a {
        color: var(--color-text);
        text-decoration: none;
        font-size: 2rem;
        opacity: 0;
        width: 100%;
        padding: 1rem 2rem;
        transition: opacity 10ms ease-in-out;
      }

      .nav-toggle-label {
        margin-right: 1em;
        height: 100%;
        display: flex;
        align-items: center;
      }

      .nav-toggle {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
      }

      .nav-toggle-label span {
        cursor: pointer;
        --size: 2.6rem;
        background-image: url('/icons/xmark-solid.svg');
        background-size: var(--size) var(--size);
        height: var(--size);
        width: var(--size);
      }

      .nav-toggle-label.closed span {
        background-image: url('/icons/bars-solid.svg');
      }

      .nav-toggle:checked ~ nav {
        transform: scale(1, 1);
      }

      .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 200ms ease-in-out 200ms;
      }

      @media screen and (min-width: 800px) {
        .nav-toggle,
        .nav-toggle-label {
          display: none;
        }

        div.wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 65px;
        }
        header {
          display: flex;
          width: 90rem;
          max-width: 100vw;
          justify-content: space-between;
        }

        .logo {
          grid-column: 2 / 3;
        }

        nav {
          all: unset;
          grid-column: 3 / 4;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }

        nav ul {
          display: flex;
          margin-top: 0rem;
          padding-top: 0;
          padding-bottom: 0;
          border-bottom: none;
        }

        nav li {
          margin-bottom: 0;
        }

        nav a {
          opacity: 1;
          position: relative;
        }

        nav a.active {
          opacity: 1;
          position: relative;
        }

        nav a.active::before {
          transform: scale(1, 1);
        }

        nav a::before {
          content: '';
          display: block;
          height: 5px;
          background: var(--accent);
          position: absolute;
          top: 0rem;
          left: 1rem;
          right: 1rem;
          border-radius: 5px;
          transform: scale(0, 1);
          transition: ease-in-out 250ms;
        }

        nav a:hover::before {
          transform: scale(1, 1);
        }
      }
    </style>
  </body>
</html>
